h1, h2, p {
    text-align: center;
}

body{
                /*font, fallback font*/
    font-family:/* Apple Chancery, cursive;*/Bookman, URW Bookman L, serif;
    background-image: url(https://cdn3.vectorstock.com/i/1000x1000/22/12/cute-cats-pattern-background-vector-20932212.jpg);
    padding: 20px
}

.established{
    font-style: italic
}

h1{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px
  }

h2{
    font-size: 30px;
  }

 hr{
    height:2px;
    background-color: lavenderblush;
    border-color: lavenderblush;
 }

.menu{
    width: 80%;
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-width: 500px;
}

.entree, .veggie, .soups{
    text-align: left;
    width: 75%;
}

.price{
    text-align: right;
    width: 25%;
}

.item p {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 18px
}

.bottom-line{
    margin-top: 25px;
}

.address{
    margin-bottom: 5px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: -25px;*/
}

/*FOOTER*/
footer{
    font-size: 14px;
}